build/target/
runAs-server/target/
runAs-agent/target/
runAs-common/target/
target/
runAs-tool/bin/
runAs-tool/JetBrains.runAs/obj/
runAs-tool/packages/
runAs-tool/JetBrains.runAs.Tests/obj/
plugin-agent/
plugin/
runAs.zip
runAs-tool-win32/JetBrains.runAs/Release/
runAs-tool-win32/JetBrains.runAs/Debug/
runAs-tool-win32/bin/
*.opendb
runAs-tool-win32/JetBrains.runAs/ipch/
runAs-tool-win32/JetBrains.runAs/x64/
runAs-tool-win32/temp/
*.sdf
runAs-tool-win32/ipch/
runAs-tool-win32/packages/
runAs-tool-win32/JetBrains.runAs.IntegrationTests/obj/
runAs-tool-win32/JetBrains.runAs/temp/
runAs-tool-win32/JetBrains.getOSBitness/temp/
TestResult.xml
win32/JetBrains.runAs.*
